# Virtual environment
venv/
.venv/
env/
.env

# Databases & local logs
*.db
*.log
backend_error.log

# Uploads directory
uploads/

# Python Cache
__pycache__/
*.pyc

# Local system files
.DS_Store
Thumbs.db
